{% extends "admin/base_site.html" %}

{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label='morpheus' %}">Morpheus</a>
        &rsaquo; <a href="{% url 'admin:morpheus_graduatedeclaration_changelist' %}">Deklaracje absolwentów</a>
    </div>
{% endblock %}

{% block content %}
    <div id="content-main">
        <h2>Pobierz adresy email respondentów</h2>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Pobierz</button>
        </form>
    </div>
{% endblock %}