{% extends "column_1.html" %}

{% load i18n adminmedia %}

{% block base_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}syjon/css/style.css" type="text/css" />
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}morpheus/css/style.css" type="text/css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}syjon/ext/bootstrap_3.1.0/css/bootstrap.min.css" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}syjon/ext/bootstrap_3.1.0/css/bootstrap-theme.min.css">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}syjon/js/jquery-1.7.2.min.js"></script>
    <script src="{{ STATIC_URL }}syjon/ext/bootstrap_3.1.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block messages %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-danger" style="padding: 5px;">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block horizontal_menu %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url apps.syjon.views.home %}">Start</a></li>
            </ul>
        </div>
    </div>
</nav>

{% endblock %}
{% block user_bar %} {% endblock %}
{% block languages %} {% endblock %}
		
{% block content %}

{% endblock %}