{% extends "morpheus/base.html" %}

{% load i18n %}

{% block css %}
    {{ block.super }}
    <style>
        form ul {list-style-type: none; margin-bottom: 10px;}
        form ul li label {font-weight:normal;}
        div.alert {padding: 5px; margin-bottom: 10px;}
    </style>
{% endblock %}
	
{% block breadcrumb %} 
    <ol class="breadcrumb">
        <li><a href="{% url apps.syjon.views.home %}">Start</a></li>
        <li><a href="{% url apps.morpheus.views.show_declaration %}">{% trans "Graduate declaration" %}</a></li>
        <li class="active">{% trans "Learning outcomes evaluation" %}</li>
    </ol>
{% endblock %}
		
{% block content %}
    <div class="page-header">
        <h1>{% trans "Graduate declaration" %} <small>Ocena efektów kształcenia</small></h1>
    </div>

    <div class="well">Poniżej znajduje się lista efektów kształcenia, które powinny zostać osiągnięte przez Pana/Panią w trakcie studiów. Proszę ocenić, dla każdego efektu kształcenia, stopień w jakim został on zrealizowany w&nbsp;Pani/Pana przypadku.</div>

    <form method="post" action="" class="form-horizontal" role="form">
        {% csrf_token %}

        <ol>
        {% for field in form %}
            <li>
                <p><b>{{ field.label }}</b></p>
                {% if field.errors %}
                    <div class="alert alert-danger">{{ field.errors.0 }}</div>
                {% endif %}
                {{ field }}
            </li>
        {% endfor %}
        </ol>

        <button type="submit" class="btn btn-success btn-block">{% trans "Send" %}</button>
	</form>
{% endblock %}
