{% extends "base_0p.html" %}

{% load i18n %}

{% block css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}syjon/css/print.css" type="text/css" />
{% endblock %}


{% block body %}

	<img style="height: 100px; margin-bottom: 40px;" src="{{ STATIC_URL}}syjon/images/logo2.jpg" />
	
	<h2 style="margin-bottom: 5px;">Potwierdzenie uzupełnienia deklaracji absolwenta</h2>
	<p style="font-style: italic; font-size: 12px; margin-top: 0px; margin-bottom: 60px;">http://deklaracja.umcs.pl</p>
	
	<p style="text-align: justify">Pan/i <b>{{ first_name }} {{ last_name }}</b>, student/ka kierunku <b>{{ course }}</b> (<b>{{ education_level }}</b>), numer albumu: <b>{{ album_number }}</b>, wypełnił/a deklarację uczestnictwa w badaniu losów zawodowych absolwentów/ek UMCS.</p>
	
	<p style="text-align: center;"><img style="height: 200px;" src="{{ qr_code }}" /></p>
	
	<p>TEN WYDRUK ZAŁĄCZ DO KARTY OBIEGOWEJ I ODDAJ W SWOIM DZIEKANACIE.</p>

{% endblock %}
