{% extends "morpheus/base.html" %}

{% load i18n %}

{% block css %}
    {{ block.super }}
    <style>
        form ul {list-style-type: none; margin-bottom: 10px;}
        form ul li label {font-weight:normal;}
        div.alert {padding: 5px; margin-bottom: 10px;}
    </style>
{% endblock %}
	
{% block breadcrumb %} 
    <ol class="breadcrumb">
        <li><a href="{% url apps.syjon.views.home %}">Start</a></li>
        <li><a href="{% url apps.morpheus.views.show_declaration %}">{% trans "Graduate declaration" %}</a></li>
        <li class="active">{% trans "Questionnaire" %}</li>
    </ol>
{% endblock %}
		
{% block content %}
    <div class="page-header">
        <h1>{% trans "Graduate declaration" %} <small>{% trans "Questionnaire" %}</small></h1>
    </div>

    <form method="post" action="" class="form-horizontal" role="form">
        {% csrf_token %}

        <ol>
            <li>
                <p><b>{{ question_1_form.question }}</b></p>
                <p>
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                {% for choice_id, choice_label in question_1_form.answers %}
                                    <th>{{ choice_label }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for field in question_1_form %}
                                {% if field.errors %}
                                    <tr>
                                        <td colspan="5">
                                            <div class="alert alert-danger">{{ field.errors.0 }}</div>
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td>{{ field.label }}</td>
                                    {% for choice in field %}
                                        <td>{{ choice.tag }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </p>
            </li>

            <li>
                <p><b>{{ question_2_form.question }}</b></p>
                <p>
                    {% if question_2_form.answers.errors %}
                        <div class="alert alert-danger">{{ question_2_form.answers.errors.0 }}</div>
                    {% endif %}
                    {{ question_2_form.answers }}
                </p>
            </li>

            <li>
                <p><b>{{ question_3_form.question }}</b></p>
                <p>
                    {% if question_3_form.answers.errors %}
                        <div class="alert alert-danger">{{ question_3_form.answers.errors.0 }}</div>
                    {% endif %}
                    {{ question_3_form.answers }}
                </p>
            </li>

            <li>
                <p><b>{{ question_4_form.question }}</b></p>
                <p>
                    {% if question_4_form.answers.errors %}
                        <div class="alert alert-danger">{{ question_4_form.answers.errors.0 }}</div>
                    {% endif %}
                    {{ question_4_form.answers }}
                </p>
            </li>

            <li>
                <p><b>{{ question_5_form.question }}</b></p>
                <p>
                    {% if question_5_form.answer.errors %}
                        <div class="alert alert-danger">{{ question_5_form.answer.errors.0 }}</div>
                    {% endif %}
                    {{ question_5_form.answer }}
                </p>
            </li>
        </ol>

        <button type="submit" class="btn btn-success btn-block">{% trans "Send" %}</button>
	</form>
{% endblock %}
