{% extends "morpheus/base.html" %}

{% load i18n %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url apps.syjon.views.home %}">Start</a></li>
        <li class="active">{% trans "Graduate declaration" %}</li>
    </ol>
{% endblock %}
		
{% block content %}

    <div class="page-header">
        <h1>{% trans "Graduate declaration" %}</h1>
    </div>

    <div class="well text-justify">
        <p>Szanowni Państwo, od 2011 Uniwersytet Marii Curie-Skłodowskiej prowadzi Badania Losów Zawodowych Absolwentów. Celem Badania jest śledzenie przebiegu karier zawodowych naszych Absolwentów i&nbsp;Absolwentek, a&nbsp;jego wyniki będą miały bezpośredni wpływ na zwiększenie jakości kształcenia na naszej Uczelni.</p>
        <p>W&nbsp;związku z&nbsp;tym zwracamy się z&nbsp;prośbą o&nbsp;wyrażenie zgody na udział w Badaniu. Kwestionariusz ankiety zostanie przesłany do Państwa na podany w&nbsp;formularzu adres mailowy co najmniej w&nbsp;rok po obronie pracy dyplomowej. Badanie ma charakter poufny, a&nbsp;dane uzyskane z&nbsp;ankiety posłużą wyłącznie do utworzenia zestawień statystycznych.</p>
        <p>Dziękujemy,<br/>Zespół Biura Karier UMCS</p>
    </div>

    <small>
        <ol class="text-justify">
            <li>Ja, niżej podpisana(y), poinformowana(y) o&nbsp;prawie wglądu do moich danych osobowych oraz możliwości ich poprawienia, wyrażam zgodę na przetwarzanie przez Uniwersytet Marii Curie-Skłodowskiej w&nbsp;Lublinie, z&nbsp;siedzibą pl. Marii Curie-Skłodowskiej 5, 20-031 Lublin, moich danych osobowych w&nbsp;celach statystycznych i&nbsp;badawczych oraz na umieszczenie ich w informatycznej bazie danych stworzonej na potrzeby realizacji badań losów absolwentów UMCS (art. 7 pkt 5 oraz art. 23 ust.1 pkt 1-5 i ust. 2 ustawy z&nbsp;dnia 29.08.1997 roku o&nbsp;ochronie danych osobowych, Dz. U. 1997r. nr 133, poz. 833). Jednocześnie deklaruję chęć uczestnictwa w badaniu, które przeprowadzone zostanie drogą mailową min. 6&nbsp;miesięcy po dacie obrony i&nbsp;polegać będzie na udzieleniu odpowiedzi na pytania ankietowe. W&nbsp;razie zmiany adresu e-mail poinformuję o&nbsp;tym Biuro Karier UMCS mailem na adres: kariera@umcs.lublin.pl</li>
            <li>Ja, niżej podpisana(y), wyrażam zgodę na wykorzystanie i&nbsp;przetwarzanie przez Uniwersytet Marii Curie-Skłodowskiej w Lublinie, z&nbsp;siedzibą pl. Marii Curie-Skłodowskiej 5, 20-031 Lublin, moich danych osobowych w&nbsp;celu utrzymywania kontaktów ze mną, zgodnie z art. 7 pkt. 5 oraz art. 23 ust. 1 pkt 1-5 i ust. 2 ustawy z dnia 29.08.1997 roku o&nbsp;ochronie danych osobowych, Dz. U. 1997r. nr 133, poz. 833).</li>
        </ol>
    </small>


    <form method="post" class="form-horizontal" role="form">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.first_name.html_name }}" class="col-sm-2 control-label">{{ form.first_name.label }}:</label>
            <div class="col-sm-4">
                {% if form.first_name.errors %}
                    <div class="alert alert-danger" style="padding: 5px;">{{ form.first_name.errors.as_text }}</div>
                {% endif %}
                {{ form.first_name }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.last_name.html_name }}" class="col-sm-2 control-label">{{ form.last_name.label }}:</label>
            <div class="col-sm-4">
                {% if form.last_name.errors %}
                    <div class="alert alert-danger" style="padding: 5px;">{{ form.last_name.errors.as_text }}</div>
                {% endif %}
                {{ form.last_name }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.album_number.html_name }}" class="col-sm-2 control-label">{{ form.album_number.label }}:</label>
            <div class="col-sm-4">
                {% if form.album_number.errors %}
                    <div class="alert alert-danger" style="padding: 5px;">{{ form.album_number.errors.as_text }}</div>
                {% endif %}
                {{ form.album_number }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.course.html_name }}" class="col-sm-2 control-label">{{ form.course.label }}:</label>
            <div class="col-sm-4">
                {% if form.course.errors %}
                    <div class="alert alert-danger" style="padding: 5px;">{{ form.course.errors.as_text }}</div>
                {% endif %}
                {{ form.course }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.education_level.html_name }}" class="col-sm-2 control-label">{{ form.education_level.label }}:</label>
            <div class="col-sm-4">
                {% if form.education_level.errors %}
                    <div class="alert alert-danger" style="padding: 5px;">{{ form.education_level.errors.as_text }}</div>
                {% endif %}
                {{ form.education_level }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.course_type.html_name }}" class="col-sm-2 control-label">{{ form.course_type.label }}:</label>
            <div class="col-sm-4">
                {% if form.course_type.errors %}
                    <div class="alert alert-danger" style="padding: 5px;">{{ form.course_type.errors.as_text }}</div>
                {% endif %}
                {{ form.course_type }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.course_profile.html_name }}" class="col-sm-2 control-label">{{ form.course_profile.label }}:</label>
            <div class="col-sm-4">
                {% if form.course_profile.errors %}
                    <div class="alert alert-danger" style="padding: 5px;">{{ form.course_profile.errors.as_text }}</div>
                {% endif %}
                {{ form.course_profile }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.approximated_defense_date.html_name }}" class="col-sm-2 control-label">{{ form.approximated_defense_date.label }}:</label>
            <div class="col-sm-4">
                {% if form.approximated_defense_date.errors %}
                    <div class="alert alert-danger" style="padding: 5px;">{{ form.approximated_defense_date.errors.as_text }}</div>
                {% endif %}
                {{ form.approximated_defense_date }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.email.html_name }}" class="col-sm-2 control-label">{{ form.email.label }}:</label>
            <div class="col-sm-4">
                {% if form.email.errors %}
                    <div class="alert alert-danger" style="padding: 5px;">{{ form.email.errors.as_text }}</div>
                {% endif %}
                {{ form.email }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.questionaire.html_name }}" class="col-sm-2 control-label">{{ form.questionaire.label }}:</label>
            <div class="col-sm-1">
                {% if form.questionaire.errors %}
                    <div class="alert alert-danger" style="padding: 5px;">{{ form.questionaire.errors.as_text }}</span>
                {% endif %}
                {{ form.questionaire }}
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-block">{% trans "Send" %}</button>
    </form>
	
{% endblock %}

