{% extends "morpheus/base.html" %}

{% load i18n morpheus %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url apps.syjon.views.home %}">Start</a></li>
        <li><a href="{% url apps.morpheus.views.statistics_course_list %}">Lista kierunków</a></li>
        <li><a href="{% url apps.morpheus.views.statistics_course_select course.id%}">Wybór kierunku</a></li>
        <li class="active">Ocena efektów kształcenia</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Ocena efektów kształcenia</h1>
    </div>

    <ul class="list-group">
      <li class="list-group-item">
          <a href="{% url apps.morpheus.views.statistics_los_results course.id %}">
              {% if year == None %} <b>Wszystkie lata</b> {% else %} Wszystkie lata {% endif %}
          </a>
      </li>
      <li class="list-group-item">
          <a href="{% url apps.morpheus.views.statistics_los_results course.id %}?y=2013">
              {% if year == '2013' %} <b>2013/2014</b> {% else %} 2013/2014 {% endif %}
          </a>
      </li>
      <li class="list-group-item">
          <a href="{% url apps.morpheus.views.statistics_los_results course.id %}?y=2014">
            {% if year == '2014' %} <b>2014/2015</b> {% else %} 2014/2015 {% endif %}
          </a>
      </li>
    </ul>

    <div class="well">Polecenie: Dla każdego efektu kształcenia oceń stopień w jakim został on zrealizowany w Pani/Pana przypadku.</div>

    {% if results_knowledge %}
        {% los_table "Wiedza" results_knowledge %}
    {% endif %}
    {% if results_skills %}
        {% los_table "Umiejętności" results_skills %}
    {% endif %}
    {% if results_competences %}
        {% los_table "Kompetencje społeczne" results_competences %}
    {% endif %}

    {% if not results_knowledge and not results_skills and not results_competences %}
        <div class="alert alert-info" role="alert">Efekty kształcenia nie zostały jeszcze ocenione.</div>
    {% endif %}

{% endblock %}

