{% extends "morpheus/base.html" %}

{% load i18n %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url apps.syjon.views.home %}">Start</a></li>
        <li><a href="{% url apps.morpheus.views.statistics_course_list %}">Lista kierunków</a></li>
        <li class="active">Wybór kierunku</li>
    </ol>
{% endblock %}
		
{% block content %}
    <div class="page-header">
        <h1>Lista kierunków</h1>
    </div>

    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Poziom</th>
                <th>Typ</th>
                <th>Profil</th>
                <th style="width: 150px">Ocena efektów kształcenia</th>
                <th style="width: 150px">Ankieta jakości kształcenia</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.name }}</td>
                    <td>{{ course.level }}</td>
                    <td>{{ course.type }}</td>
                    <td>{% if course.level.id == 8 %} - {% else %} {{ course.profile|default:'-' }} {% endif %}</td>
                    <td>
                        <a href="{% url apps.morpheus.views.statistics_los_results course.id %}">
                            <span class="glyphicon glyphicon-stats"></span>
                            {{ course.los }}
                        </a>
                        {% if request.user.is_staff %}
                            | <a href="{% url apps.morpheus.views.statistics_los_save course.id %}">
                                <span class="glyphicon glyphicon-save"></span>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url apps.morpheus.views.statistics_q_results course.id %}">
                            <span class="glyphicon glyphicon-stats"></span>
                            {{ course.qs }}
                        </a>
                        {% if request.user.is_staff %}
                            | <a href="{% url apps.morpheus.views.statistics_q_save course.id %}">
                                <span class="glyphicon glyphicon-save"></span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

