{% extends "morpheus/base.html" %}

{% load i18n morpheus %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url apps.syjon.views.home %}">Start</a></li>
        <li><a href="{% url apps.morpheus.views.statistics_course_list %}">Lista kierunków</a></li>
        <li><a href="{% url apps.morpheus.views.statistics_course_select course.id%}">Wybór kierunku</a></li>
        <li class="active">Wyniki ankiety oceny jakości kształcenia</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Wyniki ankiety oceny jakości kształcenia</h1>
    </div>

    <ul class="list-group">
      <li class="list-group-item">
          <a href="{% url apps.morpheus.views.statistics_q_results course.id %}">
              {% if year == None %} <b>Wszystkie lata</b> {% else %} Wszystkie lata {% endif %}
          </a>
      </li>
      <li class="list-group-item">
          <a href="{% url apps.morpheus.views.statistics_q_results course.id %}?y=2013">
              {% if year == 2013 %} <b>2013/2014</b> {% else %} 2013/2014 {% endif %}
          </a>
      </li>
      <li class="list-group-item">
          <a href="{% url apps.morpheus.views.statistics_q_results course.id %}?y=2014">
            {% if year == 2014 %} <b>2014/2015</b> {% else %} 2014/2015 {% endif %}
          </a>
      </li>
    </ul>

    <h3>{{ results.data.0.question }}</h3>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>{{ results.data.0.answer_1_content }}</th>
                <th>{{ results.data.0.answer_2_content }}</th>
                <th>{{ results.data.0.answer_3_content }}</th>
                <th>{{ results.data.0.answer_4_content }}</th>
            </tr>
        </thead>
        {% with answers=results.data.0.answers %}
            <tbody>
                {% with subquestion_answers=results.data.0.subquestion_1_answers %}
                    <tr>
                        <td>{{ results.data.0.subquestion_1_content }}</td>
                        <td>{% number_to_percent subquestion_answers.0 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.1 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.2 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.3 answers %}</td>
                    </tr>
                {% endwith %}
                {% with subquestion_answers=results.data.0.subquestion_2_answers %}
                    <tr>
                        <td>{{ results.data.0.subquestion_2_content }}</td>
                        <td>{% number_to_percent subquestion_answers.0 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.1 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.2 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.3 answers %}</td>
                    </tr>
                {% endwith %}
                {% with subquestion_answers=results.data.0.subquestion_3_answers %}
                    <tr>
                        <td>{{ results.data.0.subquestion_3_content }}</td>
                        <td>{% number_to_percent subquestion_answers.0 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.1 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.2 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.3 answers %}</td>
                    </tr>
                {% endwith %}
                {% with subquestion_answers=results.data.0.subquestion_4_answers %}
                    <tr>
                        <td>{{ results.data.0.subquestion_4_content }}</td>
                        <td>{% number_to_percent subquestion_answers.0 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.1 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.2 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.3 answers %}</td>
                    </tr>
                {% endwith %}
                {% with subquestion_answers=results.data.0.subquestion_5_answers %}
                    <tr>
                        <td>{{ results.data.0.subquestion_5_content }}</td>
                        <td>{% number_to_percent subquestion_answers.0 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.1 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.2 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.3 answers %}</td>
                    </tr>
                {% endwith %}
                {% with subquestion_answers=results.data.0.subquestion_6_answers %}
                    <tr>
                        <td>{{ results.data.0.subquestion_6_content }}</td>
                        <td>{% number_to_percent subquestion_answers.0 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.1 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.2 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.3 answers %}</td>
                    </tr>
                {% endwith %}
                {% with subquestion_answers=results.data.0.subquestion_7_answers %}
                    <tr>
                        <td>{{ results.data.0.subquestion_7_content }}</td>
                        <td>{% number_to_percent subquestion_answers.0 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.1 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.2 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.3 answers %}</td>
                    </tr>
                {% endwith %}
                {% with subquestion_answers=results.data.0.subquestion_8_answers %}
                    <tr>
                        <td>{{ results.data.0.subquestion_8_content }}</td>
                        <td>{% number_to_percent subquestion_answers.0 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.1 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.2 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.3 answers %}</td>
                    </tr>
                {% endwith %}
                {% with subquestion_answers=results.data.0.subquestion_9_answers %}
                    <tr>
                        <td>{{ results.data.0.subquestion_9_content }}</td>
                        <td>{% number_to_percent subquestion_answers.0 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.1 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.2 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.3 answers %}</td>
                    </tr>
                {% endwith %}
                {% with subquestion_answers=results.data.0.subquestion_10_answers %}
                    <tr>
                        <td>{{results.data.0.subquestion_10_content }}</td>
                        <td>{% number_to_percent subquestion_answers.0 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.1 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.2 answers %}</td>
                        <td>{% number_to_percent subquestion_answers.3 answers %}</td>
                    </tr>
                {% endwith %}
            </tbody>
        {% endwith %}
    </table>
    <hr/>

    {% with data=results.data.1 %}
        <h3>{{ data.question }}</h3>
        <ul>
            <li>{{ data.answer_1_content }}: {% number_to_percent data.answer_1_results data.answers %}</li>
            <li>{{ data.answer_2_content }}: {% number_to_percent data.answer_2_results data.answers %}</li>
        </ul>
    {% endwith %}
    <hr/>

    {% with data=results.data.2 %}
        <h3>{{ data.question }}</h3>
        <ul>
            <li>{{ data.answer_1_content }}: {% number_to_percent data.answer_1_results data.answers %}</li>
            <li>{{ data.answer_2_content }}: {% number_to_percent data.answer_2_results data.answers %}</li>
            <li>{{ data.answer_3_content }}: {% number_to_percent data.answer_3_results data.answers %}</li>
            <li>{{ data.answer_4_content }}: {% number_to_percent data.answer_4_results data.answers %}</li>
        </ul>
    {% endwith %}
    <hr/>

    {% with data=results.data.3 %}
        <h3>{{ data.question }}</h3>
        <ul>
            <li>{{ data.answer_1_content }}: {% number_to_percent data.answer_1_results data.answers %}</li>
            <li>{{ data.answer_2_content }}: {% number_to_percent data.answer_2_results data.answers %}</li>
            <li>{{ data.answer_3_content }}: {% number_to_percent data.answer_3_results data.answers %}</li>
            <li>{{ data.answer_4_content }}: {% number_to_percent data.answer_4_results data.answers %}</li>
            <li>{{ data.answer_5_content }}: {% number_to_percent data.answer_5_results data.answers %}</li>
        </ul>
    {% endwith %}
    <hr/>

    {% with data=results.data.4 %}
        <h3>{{ data.question }}</h3>
        {% if data.answers %}
            <ul>
                {% for answer in data.answers %}
                   <li>{{ answer }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-info" role="alert">Nie odnotowano żadnych dodatkowych uwag.</div>
        {% endif %}
    {% endwith %}
    <hr/>

{% endblock %}

