{% extends "morpheus/base.html" %}

{% load i18n %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url apps.syjon.views.home %}">Start</a></li>
        <li class="active">Lista kierunków</li>
    </ol>
{% endblock %}
		
{% block content %}
    <div class="page-header">
        <h1>Lista kierunków</h1>
    </div>

    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Kierunek</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
                <tr>
                    <td><a href="{% url apps.morpheus.views.statistics_course_select course.id %}">{{ course.name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

