{% load morpheus %}

<h3>{{ header }}</h3>
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Opis</th>
            <th>Słabo</th>
            <th>Przeciętnie</th>
            <th>Dobrze</th>
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
            <tr>
                <td>{{ result.lo.symbol }}</td>
                <td>{{ result.lo.description }}</td>
                <td>{{ result.avg_1 }}</td>
                <td>{{ result.avg_2 }}</td>
                <td>{{ result.avg_3 }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>