.bg_color_dark {background-color: #993066;}
#horizontal_menu ul li a:hover { background-color: #d3428e; }

.info {text-align: justify;}
.info p {margin: 3px 0 5px 0; line-height: 17px;}
.info ol {list-style-position: outside; margin-left: 19px; }
.info ol li {margin: 3px 0 5px 0; line-height: 17px;}
